.introBlock {
    display: flex;
    height: 75vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monoText {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.scrollBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark {
    background: #867eff;
}

.light {
    background: #9c72cc;
}

.scrollIcon {
    position: relative;
    width: 24px;
    height: 10vh;

    .chevron {
        position: absolute;
        width: 28px;
        height: 8px;
        opacity: 0;

        transform: scale3d(0.5, 0.5, 0.5) skew(0deg, 30deg);
        animation: move 3s ease-out infinite;

        &:first-child {
            animation: move 3s ease-out 1s infinite;
        }

        &:nth-child(2) {
            animation: move 3s ease-out 2s infinite;
        }

        &::before,
        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            height: 100%;
            width: 51%;
        }

        &::before {
            left: 0;
            transform: skew(0deg, 30deg);
        }

        &::after {
            right: 0;
            width: 50%;
            transform: skew(0deg, -30deg);
        }
    }
}

@keyframes move {
    25% {
        opacity: 1;
    }

    33% {
        opacity: 1;
        transform: translateY(30px) //skew(0deg, 30deg);
    }

    67% {
        opacity: 1;
        transform: translateY(40px) //skew(0deg, 30deg);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5) skew(0deg, -30deg);
    }
}